{{#if topic.excerpt}}
  <div class="premium-excerpt">
    {{{topic.excerpt}}}
  </div>
{{/if}}

{{#if topic.image_url}}
  <div class="premium-image">
    <img src="{{topic.image_url}}" loading="lazy" />
  </div>
{{/if}}

